# common
.DS_Store
node_modules/
out/
cache/
**/temp/
dist/
temp/

# ide, framework or git
.cache
.idea
.vscode

# related to webpack or bower
src/*_build

# specifics
build/*.exe
*.log
/android/app/src/main/assets/**
!/android/app/src/main/assets/index.html
!/android/app/src/main/assets/android-bridge.js
android/app/build/
android/.gradle/
android/.idea/
android/app/release/
android/.gradle/
android/.idea/
android/app/release/